<nav class="flex justify-between items-center w-full bg-slate-100 p-4">
    <a class="w-full text-2xl text-blue-400" routerLink="/dashboard">Burst DVIP</a>
    <div class="flex justify-between items-center w-full">
        <ul class="menu flex flex-row justify-around items-center w-full">
            <li class="menu-item">
                <a class="menu-link hover:underline hover:text-blue-400" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="menu-item">
                <a class="menu-link hover:underline hover:text-blue-400" routerLink="/pictures">Pictures</a>
            </li>
            <li class="menu-item">
                <a class="menu-link hover:underline hover:text-blue-400" routerLink="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>