<div class="container mx-auto">
    <header class="flex flex-col items-center justify-center p-10">
        <nav class="flex justify-between items-center w-full">
            <a class="text-2xl font-bold text-black" href="#">Burst Van Pictures</a>
        </nav>
    </header>
    <main class="flex flex-col items-center justify-center p-10">
        <div class="flex flex-col items-center justify-center w-full gap-12">
            <button routerLink="login/dispatch" id="dispatch-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-full lg:w-60">Dispatch Login</button>
            <button routerLink="login/driver" id="driver-btn" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full w-full lg:w-60">Driver Login</button>
        </div>
    </main>
</div>